@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Light'), local('Proxima-Nova-Light'),
        url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
};

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
};

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Semibold'), local('Proxima-Nova-Semibold'),
        url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
};

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Extrabold'), local('Proxima-Nova-Extrabold'),
        url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
        url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

};

@import 'source/_header';
@import 'source/approach';
@import 'source/baner';
@import 'source/cases';
@import 'source/footer';
@import 'source/logobar';
@import 'source/quote';
@import 'source/services';
