$mainfont: 'Proxima Nova', sans-serif;

@mixin input {
    width: 100%;
    font-family: $mainfont;
    font-size: 10px;
    font-weight: 300;
    padding: 3px 0 3px 5px;

    @media screen and (min-width: 760px){
        padding: 10px 0 10px 8px;
    }

    @media screen and (min-width: 1024px){
        font-size: 15px;
    }
}

.footer{
    background-color: #333a40;

    &__container{
        padding: 20px 0 10px 10px;
        display: flex;

        @media screen and (min-width: 760px){
            padding: 30px 0 10px 30px;
        }

        @media screen and (min-width: 1200px){
            padding: 30px 0 10px 40px;
        }
    }

    &__block{
        width: 25%;
    }

    &__block-navigation{
        width: 25%;
        margin-left: 12px;
    }

    &__block-submit{
        width: 43%;
        position: relative;

        @media screen and (min-width: 760px){
            width: 35%;
        }
    }

    &__title{
        font: {
            family: $mainfont;
            size: 8px;
            weight: 400;
        }
        color: white;
        margin-bottom: 20px;

        @media screen and (min-width: 425px){
            font-size: 10px;
        }

        @media screen and (min-width: 760px){
            font-size: 13px;
        }

        @media screen and (min-width: 1024px){
            font-size: 15px;
        }

        @media screen and (min-width: 1400px){
            font-size: 20px;
        }
    }

    &__text{
        font: {
            family: $mainfont;
            size: 7px;
        }
        color: #8f8f8f;

        @media screen and (min-width: 425px){
            font-size: 9px;
        }

        @media screen and (min-width: 760px){
            font-size: 12px;
        }

        @media screen and (min-width: 1024px){
            font-size: 14px;
        }

        @media screen and (min-width: 1400px){
            font-size: 16px;
        }
    }

    &__item{
        padding: 0;
        line-height: 5px;

        @media screen and (min-width: 425px){
            line-height: 7px;
        }

        @media screen and (min-width: 760px){
            line-height: 12px;
        }

        @media screen and (min-width: 1024px){
            line-height: 15px;
        }

        @media screen and (min-width: 1400px){
            line-height: 20px;
        }
    }

    &__input{
        @include input;
        margin-top: 10px;
    }

    &__input-email{
        @include input;
        margin-top: 3px;
    }

    &__button{
        font-family: $mainfont;
        font-size: 10px;
        font-weight: 300;
        background-color: #4c7ca5;
        color: white;
        margin: 10px 0 15px 0;
        border: solid transparent;
        border-radius: 1px;
        position: relative;
        width: 100px;

        @media screen and (min-width: 760px){
            font-size: 11px;
            padding: 5px 20px;
        }

        @media screen and (min-width: 768px){
            margin: 10px 0 40px 0;
        }

        @media screen and (min-width: 1024px){
            font-size: 15px;
        }
    }

    &__copyright{
        padding: 10px;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            height: 1px;
            width: calc(100% - 20px);
            background-color: #8f8f8f;
            margin-top: -12px;
        }
    }

    &__forma{
        width: 80%;
        left: 10%;
        position: absolute;
        background-color: white;
        padding: 10px;
        box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
        z-index: 10;
        top: 620px;
        display: none;

        @media screen and (min-width: 375px){
            top: 670px;
        }

        @media screen and (min-width: 425px){
            top: 760px;
        }

        @media screen and (min-width: 768px){
            top: 1845px;
        }

        @media screen and (min-width: 1024px){
            top: 2550px;
        }

        @media screen and (min-width: 1440px){
            top: 3350px;
        }
    }

    &__asterisk{
        color: red;
        font-size: 10px;
        position: absolute;
    }

    &__forma-end{
        width: 320px;
        height: 150px;
        position: absolute;
        background-color: white;
        box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
        top: 950px;
        left: 50%;
        transform: translate(-50%, 0);
        display: none;

        @media screen and (min-width: 375px){
            top: 1000px;
        }

        @media screen and (min-width: 425px){
            top: 1100px;
        }

        @media screen and (min-width: 768px){
            top: 1800px;
            width: 500px;
            height: 200px;
        }

        @media screen and (min-width: 1024px){
            top: 2600px;
        }

        @media screen and (min-width: 1440px){
            top: 3350px;
        }
    }

    &__text-forma{
        font-family: $mainfont;
        font-size: 25px;
        color: #8f8f8f;
        text-align: center;
        margin-top: 30px;
    }

}

.tel{
    padding-top: 10px;
}

.rule{
    position: relative;
    margin-top: 5px;
}

.block-rule{
    display: flex;
    margin-top: 15px;
}

.active-forma{
    display: block;
}

.forma-close{
    margin-left: 5px;

    i{
        font-size: 20px;
        color: grey;
    }
}

.button-forma{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
}
