$mainfont: 'Proxima Nova', sans-serif;
@mixin margin-block {
    margin: 30px 10px 30px 10px;
}

@mixin title-services {
    font: {
        family: $mainfont;
        size: 10px;
        weight: 400;
    }
    margin-bottom: 25px;
    color: #333333;
}

.services{
    @include margin-block;

    @media screen and (min-width: 470px){
        margin: 30px 15px 30px 15px;
    }

    @media screen and (min-width: 760px){
        margin: 30px 30px 70px 30px;
    }

    @media screen and (min-width: 1200px){
        margin: 40px 40px 120px 40px;
    }

    &__title{
        @include title-services;

        @media screen and (min-width: 376px){
            font-size: 12px;
        }

        @media screen and (min-width: 470px){
            font-size: 16px;
            margin-top: 65px;
        }

        @media screen and (min-width: 850px){
            font-size: 20px;
            margin-top: 75px;
            margin-bottom: 50px;
        }

        @media screen and (min-width: 1200px){
            font-size: 25px;
            margin-top: 95px;
        }

        @media screen and (min-width: 1400px){
            font-size: 30px;
            margin-top: 110px;
        }
    }

    &__container{
        display: flex;
        justify-content: space-between;
    }

    &__block{
        width: 18%;
        position: relative;

        @media screen and (min-width: 1024px){
            width: 16%;
        }

        &::before{
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: #c1c1c1;
            margin-top: -15px;

            @media screen and (min-width: 760px){
                height: 5px;
            }

            @media screen and (min-width: 850px){
                margin-top: -30px;
            }
        }
    }

    &__subtitle{
        font-family: $mainfont;
        font-size: 7.5px;
        font-weight: 400;
        margin-bottom: 10px;

        @media screen and (min-width: 375px){
            font-size: 8px;
        }

        @media screen and (min-width: 425px){
            font-size: 10px;
        }

        @media screen and (min-width: 760px){
            font-size: 13px;
            margin-bottom: 18px;
        }

        @media screen and (min-width: 1023px){
            font-size: 17px;
            margin-bottom: 25px;
        }

        @media screen and (min-width: 1400px){
            font-size: 20px;
        }
    }

    &__item{
        margin: 0;
        padding: 0;
    }

    &__li{
        font-family: $mainfont;
        font-size: 6px;
        font-weight: 300;
        line-height: 10px;
        color: #c1c1c1;

        @media screen and (min-width: 375px){
            font-size: 7px;
        }

        @media screen and (min-width: 425px){
            font-size: 8px;
            line-height: 12px;
        }

        @media screen and (min-width: 760px){
            font-size: 11px;
            line-height: 15px;
        }

        @media screen and (min-width: 1023px){
            font-size: 15px;
            line-height: 20px;
        }

        @media screen and (min-width: 1400px){
            font-size: 17px;
            line-height: 25px;
        }
    }
}